.Card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #D58C51;
    box-sizing: border-box;
    max-width: 312px;
    margin-bottom: 35px;
    margin-right: 20px;
    color: #FFFFFF;
    height: 552px;
    
}

.Card-body {
    margin: 0;
    padding: 0;
    
}

.Card-body:hover {
    color: #D58C51;
}

.Card-img {
    list-style: none;
    display: flex;
    justify-content: center;
}

.Card-img__inner {
    width: 270px;
    height: 271px;
    border: 1px solid black;
    margin: 43px 21px 0;
}

.Card-title {
    list-style: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-top: 31px;
    margin-left: 21px;
    text-align: left;
}


.Card-description {
    list-style: none;
    margin-top: 13px;
    margin-left: 21px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.Card-price {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    margin-left: 21px;
}

.buy-button {
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 100%;
    background: none;
    margin-right: 30px;
    margin-bottom: 25px;
}

.buy-button:hover {
    border: 1px solid #D58C51;
}

.Card-price__rublesGramms {
    display: flex;
}

.Card-price__rubles {
    font-size: 17px;
    margin-top: 5px;
}

.Card-price__gramms {
    font-size: 14px;
    margin-top: 7px;
}