/* *{background: red;} */


.shopppingCart {
    max-width: 860px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #ffff;
}

.shoppingCart-description {
    display: flex;
    align-items: center;
   
}
.shoppingCart-img {
    width: 122px;
    height: 122px;
    border: 1px solid black;
    margin-right: 98px;
    background: #fff;
}
.shoppingCart-action {
    display: flex;
    align-items: center;
}

.shoppingCart-remove {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.shoppingCart-price {
    margin: 15px;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}

.shoppingCart-item {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}