.Products {
    padding: 0 68px 0 70px;
    background: #161516
}

.Products-header {
    display: flex;
    justify-content: space-between;
}

.Products-title {
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 54px 0 81px;
}

.Products-block {
    display: flex;
    margin-top: 50px;
}

.Products-wrapper {
    display: flex;
    flex-wrap: wrap;

}

.Products-cart {
    color: #ffff;
    margin-right: 23px;
    font-weight: 500;
    font-size: 17px;
}

.Products-amount {
    display: flex;
    justify-content: flex-end;
}

.Products-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background: #D58C51;;
}

.Products-button:hover {
    border: 1px solid white;
}